*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

.container{
    margin: 0 auto;
    padding: 0 320px;
}

.header{
    width:1273px;
    border: 2px solid red;
    background-color: black;
}

.nav{
    width: 100%;    
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav ul{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 26px;
    
}

.nav ul :hover{
    color: orange;
    transition-duration: 1s ;
}

input{
    color: rgb(255, 255, 255);
    background-color: rgb(8, 8, 51);
}

.abu{
    background-image: url(Bg.png);
    width: 1273px;
    height: 554px;
    margin: 0 auto;
   
}

.abc{
    display: flex;
    justify-content: center;
    gap: 150px;
    background-color: #000000;

}

.cantainer{
   margin-left: 124px;
   width: 1273px;

}
.h1{
    align-items: center;
    margin: 0 auto;
}

.h1{
    color: white;
}

.lox1{
    display: flex;
    justify-content: center;
    background-color: #1B1E27;
        margin-left: 124px;
   width: 1273px;  

}

.p1{
    color: rgb(137, 126, 126);
    display: flex;
    align-items: center;
}

.lox2{
     display: flex;
    justify-content: center;
    background-color: #1B1E27;
        margin-left: 124px;
   width: 1273px;  
   
}

.img2{
    padding: 25px;
}

.ul2{
color: white;
display: flex;
gap: 15px;
}

.nav1{
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.header1{
    width:1273px;
    border: 2px solid red;
    background-color: black;
       margin-left: 124px;
       display: flex;
       justify-content: center;
       gap: 800px;
}

.nav1 .ul2 :hover{
    color: orange;
    transition-duration: 1s ;
}

